/* 
  screen width
*/

$sm: 768px;
$md: 1024px;
$lg: 1440px;
$xl: 1920px;

/*
  safe area
*/
$safe-area-mb:330px;
$safe-area-tp:688px;
$safe-area-tl:923px;
$safe-area-pc:1320px;

/*
  colors
*/

$title: #673AB7;
