body {
  background-color: #f0f2f7;
}

.title {
  color: $title;
}
.catalog {
  padding: 20px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  li {
    padding: 12px;
    width: 25%;

    @include pc-lg {
      width: 20%;
    }
    @include tablet-landscape {
      width: 33.3333%;
    }
    @include tablet-portrait {
      width: 50%;
    }
    @include mobile {
      width: 100%;
    }

    a {
      display: block;
      text-decoration: none;
    }

    .img-box {
      $img-ratio: 0.5625;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;

      height: 25vw * $img-ratio;

      @include pc-lg {
        height: 20vw * $img-ratio;
      }
      
      @include tablet-landscape {
        height: 33vw * $img-ratio;
      }

      @include tablet-portrait {
        height: 50vw * $img-ratio;
      }

      @include mobile {
        height: 100vw * $img-ratio;
      }
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }

    .title {
      margin-top: 16px;
      color: #333;
    }

    .time {
      margin-top: 6px;
      font-size: 12px;
      color: #888;
    }
  }
}
