html,
body {
  height: 100%;
}

h1 {
  text-align: center;
  line-height: 100px;
  font-size: 66px;
  color: #444;
}

.img {
  margin: 20px auto 60px;
  width: 1000px;
  height: 1000px;
  transition: 0.5s;
  cursor: pointer;
}

.img.circle {
  background: url("http://source.unsplash.com/random/1000x1000") no-repeat
    center center;
  background-size: cover;
  clip-path: circle(100px at center);

  &:hover {
    clip-path: circle(100% at center);
  }
}

.img.inset {
  background: url("http://source.unsplash.com/random/1100x1100") no-repeat center
    center;
  clip-path: inset(0px);

  &:active {
    clip-path: inset(200px);
  }
}
