html,
body {
  width: 100%;
  overflow-x: hidden;
  padding-bottom: 100px;
}

h1 {
  margin: 200px 0 100px;
  text-align: center;
  line-height: 100px;
  font-size: 66px;
  color: #444;
}

h2 {
  margin: 60px 0;
  font-size: 48px;
  color: #666;
  text-align: center;
}

.img-box {
  margin: 0 auto;
  width: 1000px;
  height: 1000px;
  background-color: lightslategray;

  .img {
    max-width: 100%;
    max-height: 100%;
    transition: 0.5s;
    cursor: pointer;
  }
}

.inset {
  clip-path: inset(0);

  &:active {
    clip-path: inset(100px 200px 10% 20% round 20px);
  }
}

.circle {
  clip-path: circle(100px at center);

  &:hover {
    clip-path: circle(100% at center);
  }
}

.ellipse {
  clip-path: ellipse(200px 500px at 50% 50%);

  &:active {
    clip-path: ellipse(500px 500px at 50% 50%);
  }
}

.polygon {
  clip-path: polygon(0% 50%, 50% 0%, 100% 50%, 50% 100%);

  &:active {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}

.parallax {
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;

  .img {
    width: 100%;
  }

  .foreground,
  .background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: clip-path 0.2s;
  }

  .foreground {
    z-index: 2;
    background: url("http://source.unsplash.com/random/1920x1080") no-repeat
      center center;
    background-size: cover;
  }

  .background {
    z-index: 1;
    background: url("http://source.unsplash.com/random/1921x1081") no-repeat
      center center;
    background-size: cover;
  }
}

.geometry {
  .img {
    background: url("http://source.unsplash.com/random/1000x1000") no-repeat
      center center;
    background-size: cover;
    margin: 40px auto;
    padding: 30px;
    border: 20px solid pink;
  }

  .margin-box {
    clip-path: margin-box circle(50% at 50% 50%);
  }
  .border-box {
    clip-path: border-box circle(50% at 50% 50%);
  }
  .padding-box {
    clip-path: padding-box circle(50% at 50% 50%);
  }
  .content-box {
    clip-path: content-box circle(50% at 50% 50%);
  }
  .fill-box {
    clip-path: fill-box circle(50% at 50% 50%);
  }
  .stroke-box {
    clip-path: stroke-box circle(50% at 50% 50%);
  }
  .view-box {
    clip-path: view-box circle(50% at 50% 50%);
  }
}
