.masonry {
  width: 1440px;
  margin: 20px auto;
  columns: 4;
  column-gap: 30px;

  .item {
    width: 100%;
    break-inside: avoid;
    margin-bottom: 30px;

    img {
      width: 100%;
    }
  }

  h2 {
    padding: 8px 0;
  }

  P {
    color: #555;
  }
}

@include tablet-landscape {
  .masonry {
    width: 96vw;
    columns: 3;
    column-gap: 20px;
  }
}

@include tablet-portrait {
  .masonry {
    width: 96vw;
    columns: 2;
    column-gap: 20px;
  }
}

@include mobile {
  .masonry {
    width: 96vw;
    columns: 1;
  }
}
